@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Gulzar&display=swap');

h3, .title, .section-title, .text-paragraph{
    font-family: Amiri, Courier, monospace;
}

h3, .title, .section-title{
    font-weight: bold;
}

.title{
    font-size: 8vw;
}

.word{
    padding-left: 25vw;
}

.text-paragraph{
    font-size: 2vh;
}
