@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Gulzar&display=swap');

.title, .section-title, .text-paragraph{
    font-family: Amiri, Courier, monospace;
}

.title, .section-title{
    font-weight: bold;
}

.title{
    font-size: 8vw;
}

.section-title{
    /*font-size: 4vw;*/
}

.word{
    padding-left: 25vw;
}

.text-paragraph{
    font-size: 2.5vw;
}