@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Gulzar&display=swap');

h3, .title, .section-title, .text-paragraph, .index-link, .title-abt, .title-events{
    font-family: Amiri, Courier, monospace;
}

h3, .title, .section-title, .index-link, .title-abt, .title-events{
    font-weight: bold;
}

.title{
    font-size: 8vw;
}

.title-abt, .title-events{
    font-size: 7vmax;
}

.word{
    padding-left: 25vw;
}

.text-paragraph{
    font-size: 1.8vmax;
}

.index-link{
    font-size: 2vmax;
}
/*
.img-box::after, .img-box::before{
    position: absolute;
    content: "....";
    background-color: black;
    height: '1vmax';
    width: '1vmax';
}

.img-box::after{
    top:'10vmin';
    left:'10vmin';
}
*/