.nav-gradient-text{
    font-size: calc(12px + 5vmax); /* Set your desired font size */
    background-image: linear-gradient(90deg, green, red);
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    background-clip: text;
    color: transparent; /* Hide the original text content */
}

.home-nav,
.about-nav,
.events-nav{
    position: relative;
}

.home-nav::after,
.about-nav::after,
.events-nav::after {
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: black; /* Color of the underline */
    transition: width 0.3s ease; /* Adjust the transition duration and easing */
}
  
.home-nav:hover::after,
.about-nav:hover::after,
.events-nav:hover::after {
    width: 100%;
}

@media (min-width: 30em) {
    .navbar{
        background-color: hsla(0, 0%, 100%, 0.8);
    }
    @supports (backdrop-filter: blur(0.5rem)){
        .navbar{
            background-color: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(0.06rem);        
        }
    }

    .mobile-nav-toggle, 
    .ham-bar, 
    .navbar-backg-smallsc,
    .misa-name,
    .switch-locale{
        display: none;
    }

    .home-nav,
    .about-nav,
    .events-nav{
        font-size: 1.5vmax;
    }
}

@media (max-width: 30em) {
    .logo{
        flex-direction: column;
        align-items: start;
    }

    .home-nav,
    .about-nav,
    .events-nav{
        font-size: 2.5vmax;
    }

    .navigation-bar {
        top: 20vmax;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: steelblue;
        inset: 0 0 0 50%;
        background-color: hsla(0, 0%, 100%, 0.8);

        transform: translateX(100%);
        transition: transform 600ms ease-out;
    }
    @supports (backdrop-filter: blur(0.5rem)){
        .navigation-bar{
            background-color: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(0.06rem);  
        }
    }

    .navigation-bar[aria-expanded="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1;
        right: 1rem;
        z-index: 100;
    }

    .ham-bar{
        display: block;
        width: 70%;
        height: 2px;
        background-color: black;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: transform .6s, opacity .8s, top .6s;
    }

    .bar-top{
        top:25%;
    }

    .bar-bottom{
        top: 75%;
    }

    .bar-top[aria-expanded="true"]{
        transform: translate(-50%,-50%) rotate(-315deg);
        top:50%;
    }

    .bar-middle[aria-expanded="true"]{
        opacity: 0;
    }

    .bar-bottom[aria-expanded="true"]{
        transform: translate(-50%,-50%) rotate(-225deg);
        top:50%;
    }

    .navbar-backg-smallsc{
        background-color: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(0.06rem);
        display:block;
        position: fixed;
        transform: translateY(0%);
        transition: transform 700ms ease-out;
    }
    .navbar-backg-smallsc[aria-expanded="true"]{
        transform: translateY(-150%);
    }

    .logo{
        transform: translateX(0%);
        transition: transform 700ms ease-out;
    }
    .logo[aria-expanded="true"]{
        transform: translateX(-200%);
    }

    .switch-locale,
    .misa-name{
        display: block;
    }

    .switch-locale{
        font-size: smaller;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.navbar-fadein { animation: fadeIn 1.5s; }

/*
@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; } 
    100% { opacity: 0; }
}

.navbar-fadeout { animation: fadeOut 1.5s; }
*/