.warrior{
    animation: MenslideIn 1s forwards; /* Animation with a duration of 1 second */
}

@keyframes MenslideIn {
    0% {
        right: -100px; /* Starting position: off the screen to the left */
    }
    100% {
        right: 6vmin; /* Ending position: back to its original position */
    }
}

.soldiers1{
    animation: s1slideIn 1.5s forwards; /* Animation with a duration of 1 second */
}

@keyframes s1slideIn {
    0% {
        right: -200px; /* Starting position: off the screen to the left */
    }
    100% {
        right: 0; /* Ending position: back to its original position */
    }
}

.soldiers2{
    animation: s2slideIn 2s forwards; /* Animation with a duration of 1 second */
}

@keyframes s2slideIn {
    0% {
        right: -250px; /* Starting position: off the screen to the left */
    }
    100% {
        right: 6vmin; /* Ending position: back to its original position */
    }
}

.deer{
    animation: deerslideIn 2s forwards; /* Animation with a duration of 1 second */
}

@keyframes deerslideIn {
    0% {
        left: -250px; /* Starting position: off the screen to the left */
    }
    100% {
        left: 30vmin; /* Ending position: back to its original position */
    }
}

.tree{
    animation: treeslideIn 1s forwards; /* Animation with a duration of 1 second */
}

@keyframes treeslideIn {
    0% {
        left: -200px; /* Starting position: off the screen to the left */
    }
    100% {
        left: -15vmin; /* Ending position: back to its original position */
    }
}

.dragon{
    animation: dragonslideIn 0.5s forwards; /* Animation with a duration of 1 second */
}

@keyframes dragonslideIn {
    0% {
        left: -100px; /* Starting position: off the screen to the left */
    }
    100% {
        left: 0; /* Ending position: back to its original position */
    }
}

