/*
.main-container{
    background-color: antiquewhite;
}

.site-title{
    font-size: 5.8vw;
    text-align: center;
}

.buffer{
    padding-top: 100px;
    height: 30vh;
    text-align: center;
    background-color: aqua;
}

.buffer-space{
    background-image: url(../../components/images/layered-waves-haikei.svg);
    aspect-ratio: 1500/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.value{
    text-align: center;
}

@media (max-width:768px){
    .values-box{
        flex-direction: column;
    }
}
*/

.test-div{
    background-image: linear-gradient(to bottom right, tan, bisque);
    margin:5px;
    border: solid;
    position: relative;
}

.test-div::before, .test-div::after{
    height:5px;
    width:5px;
    background-color: black;
    content: "";
    border: solid;
    position: absolute;
}

.test-div::before{
    top: 0;
    right: 0;
}

.test-div::after{
    bottom: 0;
    left: 0;
}

.inner-block{
    border: solid;
    margin: 5px;
    position: relative;
}

.inner-block::before, .inner-block::after{
    height:5px;
    width:5px;
    background-color: black;
    content: "";
    border: solid;
    position: absolute;
}

.inner-block::before{
    top: 0;
    left: 0;
}

.inner-block::after{
    bottom: 0;
    right: 0;
}