@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Gulzar&display=swap');

.title{
    font-weight: bold;
    font-size: 8vw;
    font-family: Amiri, Courier, monospace;
}

.word{
    padding-left: 25vw;
}

